@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Montserrat";
}
